    <div>
        <div class="uk-card uk-card-body uk-align-left uk-card-small uk-margin-large-left">
            <p class="uk-text-center"><b>{{order}}</b> of {{batch.total_box}} | Item Qty: {{qty_per_box}}</p>
            <h3 class="uk-card-title uk-text-center">{{box_number}}</h3>
            <img class="uk-card-body" src="http://bwipjs-api.metafloor.com/?bcid=code128&text={{box_number}}">
            </div>
    </div>
