   <tr>
      <td>{{account.name}}</td>
      <td>{{box_number}}</td>
      <td>{{description}}</td>
      <td>{{order}}</td>
      <td>{{batch.total_box}}</td>
      <td>{{qty_per_box}}</td>
      <td>{{sku}}</td>
      <td>{{volume}}</td>
      {{#if shipped_date}}
         <td>{{shipped_date}}</td>
      {{else}}
            {{#if requested_date}}
               <td>{{requested_date}}</td>
            {{else}}
                  {{#if received_date}}
                     <td>{{received_date}}</td>
                  {{else}}
                     <td>{{batch.pending_date}}</td>
                  {{/if}}
            {{/if}}
      {{/if}}
      <td>{{tracking}}</td>
      <td>{{status}}</td>
    </tr>
