

<li>
<!-- This is an anchor toggling the modal -->
<a href="#modal-example{{username}}" uk-toggle>{{name}}</a>

<!-- This is the modal -->
<div id="modal-example{{username}}" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <ul style="display: none">
    <li class="text-danger">name: {{name}}</li>
    <li>username: {{username}}</li>
    <li>password: {{password}}</li>
    <li class="text-primary">email: {{email}}</li>
        </ul>
             <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-primary" type="button">Save</button>
        </p>
    </div>
</div>
</li>
