<tr>
    <td class="col-3 text-${color}" style="word-wrap: break-word">{{user.name}}</td>
    <td class="col-3 text-${color}" style="word-wrap: break-word">{{references}}</td>
    <td class="col-3 text-${color}" style="word-wrap: break-word"><a href="/image/{{file}}" uk-icon="icon: image"></a></td>
    <td class="col-3 text-${color}" style="word-wrap: break-word"><time>{{date}}</time></td>
    <td class="col-3 text-${color}" style="word-wrap: break-word"><a onclick="remove({{id}})" uk-icon="icon: trash" style="visibility: hidden;"></a></td>
</tr>
