<tr scope="row">
  <td><input class="uk-checkbox" type="checkbox" /></td>
  <td id="{{account_id}}">{{account.name}}</td>
  <td class="text-primary">{{box_number}}</td>
  <td>{{description}}</td>
  <td>{{qty_per_box}}</td>
  <td>{{sku}}</td>
</tr>
