<tr>
  <td><input class="uk-checkbox" type="checkbox" /></td>
  <td>{{user.name}}</td>
  <td>{{account.name}}</td>
  <td>{{box_number}}</td>
  <td>{{description}}</td>
  <td>{{order}}</td>
  <td>{{batch.total_box}}</td>
  <td>{{qty_per_box}}</td>
  <td>{{sku}}</td>
  <td>{{location}}</td>
  <td>{{batch.pending_date}}</td>
  <td>{{status}}</td>
</tr>
