
<tr>
    <td><input class="uk-checkbox" type="checkbox"></td>
    <td>{{account.name}}</td>
    <td>{{container_number}}</td>
    <td></td>
    <td></td>
    <td>{{description}}</td>
    <td>{{received_date}}</td>
    <td>{{status}}</td>
</tr>
