<tr>
  <td><input class="uk-checkbox" type="checkbox" /></td>
  <td>{{account.name}}</td>
  <td>{{box_number}}</td>
  <td>{{description}}</td>
  <td>{{order}}</td>
  <td>{{batch.total_box}}</td>
  <td>{{qty_per_box}}</td>
  <td>{{sku}}</td>
  <td>{{volume}}</td>
  <td>{{received_date}}</td>
  <td>存货</td>
</tr>
