<tr id="container_{{id}}" class="{{tracking}}">
  <td><input
      class="uk-checkbox"
      onclick="selectBatch({{tracking}})"
      type="checkbox"
    /></td>
  <td>{{account.name}}</td>
  <td onclick="selectAll({{id}})">{{container_number}}</td>
  <td></td>
  <td></td>
  <td>{{length}} x {{height}} x {{width}}</td>
  <td>{{weight}}</td>
  <td>{{status}}</td>
</tr>
