<tr id="container_{{id}}">
  <td><input
      class="uk-checkbox"
      onclick="containerValidation({{id}})"
      type="checkbox"
    /></td>
  <td>{{account.name}}</td>
  <td onclick="selectAll({{id}})">{{container_number}}</td>
  <td></td>
  <td></td>
  <td>{{description}}</td>
  <td>{{received_date}}</td>
  <td>存货</td>
</tr>
