<p class="uk-heading-line uk-text-right uk-margin-small-right"><span>logged in as <span class="uk-text-bold uk-label uk-label-success">{{name}}</span></span></p>
<div class="container">
    {{#if accountName}}
    <div class="lead text-end">Account: {{accountName}} / Total Box(es): {{containers.length}}</div>
    {{/if}}
    {{#if admin}}
    {{else}}
    <a class="btn btn-white border-warning btn-sm shadow-sm" uk-icon="icon: home" href="/amazon/{{accountId}}"></a>
    {{/if}}
    <div class="uk-overflow-auto">
    <table class="uk-table uk-table-small uk-table-divider myTable shadow-sm" id="myTable">
            <thead>
                <tr id="skuList">
                    <th onclick="sortTable(0)">Container \ SKU</th>
                </tr>
            </thead>
            <tbody>
                    {{#each containers as |container|}}
                        {{> overview-data container }}
                    {{else}}
                        <h3 class="text-center">NO <u>AMAZON BOX</u> WAS FOUND!</h3>
                    {{/each}}
            </tbody>
    </table>
    </div>
</div>
<script src="javascript/amazon_overview.js"></script>
