<div class="uk-overflow-auto">
<p class="uk-heading-line uk-text-right uk-margin-small-right"><span>logged in as <span class="uk-text-bold uk-label uk-label-success">{{name}}</span></span></p>
<div class="uk-margin uk-overflow-auto">
<div class="container">
    {{!-- <nav class="uk-navbar-container" > --}}
        <div class="uk-navbar-right uk-child-width-expand@s">

            <div class="uk-navbar-item">
            <div class="uk-grid-small uk-child-width-auto uk-grid">
                <label><input id="radio" class="uk-radio" type="radio" value='1' name="radio2" onclick="status_trigger(1)">All 全交易</label>
                <label><input id="radio" class="uk-radio" type="radio" value='2' name="radio2" onclick="status_trigger(2)">Pending 挂单</label>
                <label><input id="radio" class="uk-radio" type="radio" value='3' name="radio2" onclick="status_trigger(3)">Received 存货</label>
                <label><input id="radio" class="uk-radio" type="radio" value='4' name="radio2" onclick="status_trigger(4)">Requested 出货通知</label>
                <label><input  id="radio"class="uk-radio" type="radio" value='5' name="radio2" onclick="status_trigger(5)">Shipped 已出货</label>
            </div>
            </div>

            <div class="uk-navbar-item">
            <button type="button" id='inventory_btn' class="btn btn-sm btn-light border-primary text-primary shadow-sm" onclick="status_trigger(6)" uk-tooltip="Inventory">
                库存: <b><span class="text-primary" id="numberOfInventory"></span></b> 件
            </button>
            {{#if accountId}}
            <a class="btn btn-light btn-sm shadow-sm" href="/account/{{accountId}}" uk-tooltip="China Boxes">原始货物</a>
            <a class="btn btn-primary btn-sm shadow-sm" href="/amazon/{{accountId}}" uk-tooltip="e.g. Amazon">回流货物</a>
            <a class="btn btn-warning btn-sm shadow-sm" href="/request_amazon/{{accountId}}" uk-tooltip="Ship-out" >单位出货</a>
            {{else}}
            <a class="btn btn-light btn-sm shadow-sm" href="/master" uk-tooltip="China Boxes">原始货物</a>
            <a class="btn btn-primary btn-sm shadow-sm" href="/amazon/{{accountId}}" uk-tooltip="e.g. Amazon">回流货物</a>
            <a class="btn btn-outline-warning btn-sm shadow-sm" href="/request_amazon/{{accountId}}" uk-tooltip="Ship-out" >综合出货</a>
            {{/if}}
            </div>

            {{!-- <div class="uk-navbar-item">
                <a href="" class="btn btn-success">Labeling</a>
            </div> --}}

            <div class="uk-navbar-item">
                <form class="uk-search uk-search-default">
                    <span uk-search-icon></span>
                    <input class="uk-search-input form-control search-input" type="search" placeholder="Search" data-table="myTable">
                 </form>
            </div>


        </div>
    {{!-- </nav> --}}
    </div>
</div>
    <div class="container">
        <table class="uk-table uk-table-small uk-table-divider myTable shadow-sm" id="myTable">
            <thead>
                <tr>
                    <th onclick="sortTable(0)">Account 帐户</th>
                    <th onclick="sortTable(1)">Box number 箱码</th>
                    <th onclick="sortTable(2)">SKU</th>
                    <th onclick="sortTable(3)">Qty 数量</th>
                    <th onclick="sortTable(4)">Description 细目</th>
                    <th onclick="sortTable(5)">Date 日期</th>
                    <th onclick="sortTable(6)">Status 状态</th>
                </tr>
            </thead>
            <tbody>
                {{#each containers as |container|}}
                {{> container-data container }}
                {{else}}
                    {{#if admin}}
                        <h3 class="text-center uk-text-bold">Loading admin files...</h3>
                    {{else}}
                        <h3 class="text-center">NO AMAZON BOX WAS FOUND!</h3>
                    {{/if}}
                {{/each}}
            </tbody>
        </table>
    </div>
    </div>
<script>
        (function(document) {
            'use strict';

            var TableFilter = (function(myArray) {
                var search_input;

                function _onInputSearch(e) {
                    search_input = e.target;
                    var tables = document.getElementsByClassName(search_input.getAttribute('data-table'));
                    myArray.forEach.call(tables, function(table) {
                        myArray.forEach.call(table.tBodies, function(tbody) {
                            myArray.forEach.call(tbody.rows, function(row) {
                                var text_content = row.textContent.toLowerCase();
                                var search_val = search_input.value.toLowerCase();
                                row.style.display = text_content.indexOf(search_val) > -1 ? '' : 'none';
                            });
                        });
                    });
                }

                return {
                    init: function() {
                        var inputs = document.getElementsByClassName('search-input');
                        myArray.forEach.call(inputs, function(input) {
                            input.oninput = _onInputSearch;
                        });
                    }
                };
            })(Array.prototype);

            document.addEventListener('readystatechange', function() {
                if (document.readyState === 'complete') {
                    TableFilter.init();
                }
            });

        })(document);
    </script>

<script src="javascript/table.js"></script>
<script src="javascript/home.js"></script>
{{#if admin}}
<script src="javascript/admin_redirect.js"></script>
{{/if}}
